body{
    background: url("https://wallpapercave.com/wp/wp5380284.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .maintitle{
    font-size: 45px;
    font-weight: 600;
    color:whitesmoke;
  }
  .logout{
    font-size: 20px;
    font-weight: 300;
    color:blueviolet;
    margin-right:-1400px;
  }
  .chocie_blank{
    background-image:linear-gradient(rgb(102, 236, 246),rgb(148, 244, 228));
    width:150px;
    height:950px;
    margin-top: 35px;
    margin-left: -8px;
    
  } 
  .execute_blank{
    background-color:none;
    width:1550px;
    height:940px;
    border-top:5px;
    margin-top: 30px;
    border-color: aliceblue;
    border-style:ridge;
    margin-left:148px;
    
  }
  div.button{
    height:140px;
    width:150px;
    margin-left: -150px;
    border-bottom: 5px;
    background-image: linear-gradient(rgb(102, 236, 246),rgb(148, 244, 228));
    border-image: linear-gradient(rgb(100, 100, 100),rgb(39, 39, 39),black);
    cursor:pointer;
    transition-duration: 0.4s;
    margin-top: -5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  div.button:hover{
    background-image: linear-gradient(rgb(168, 247, 252),rgb(169, 244, 232),rgb(218, 245, 250));
    transform: translateY(-1.5px);
  }
  .execute_blank .banner-container{
    width:1550px;
    height:330px;
    margin:1rem auto;
    overflow: hidden;
    position: relative;
  margin-top: 103px;


}

.execute_blank .banner-container .banner-img-container {
    width:7750px;
    height:330px;
    overflow: hidden;
    position: absolute;

    display: flex;
    animation: run 20s ease infinite;
}

.execute_blank .banner-container .banner-img-container img{
    width:1550px;
    height:100%;
}
.execute_blank .button-wrapper {
display: flex;
}
.execute_blank .btn-secondary{
width:100px;
height: 100px;
border-radius: 200px;
position:relative;
top: -250px;
left: 300px;
margin-right: 300px;
background-color: rgb(0, 255, 153);
cursor:pointer;
border:1px;
border-color: whitesmoke;
transition-duration: 0.4s;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.execute_blank .btn-secondary:hover{
background-image:linear-gradient(rgb(191, 0, 255),rgb(0, 21, 255));
transform: translateY(-5px);
}
.execute_blank .btn-secondary img{
    width:auto;
    height:auto;
    margin-left: -4px;
}

@keyframes run {
0%{
    /* margin-left: 0; */
    transform: translateX(0);
}
25%{
    /* margin-left: -1550px;; */
    transform: translateX(-1550px);
}
50%{
    /* margin-left: -3100px; */
    transform: translateX(-3100px);
}
75%{
    /* margin-left: -4650px; */
    transform: translateX(-4650px);
}
100%{
    /* margin-left: -6200px; */
    transform: translateX(-6200px);
}
}
p{
  font-size: 33px;
  font-weight: 600;
  text-align: center;
}
.execute_blank .btn-secondary .btn_name{
 margin-left: -20px;
 color:white;
 white-space: nowrap;
}
.execute_blank .btn-third{
width:100px;
height: 100px;
border-radius: 200px;
position:relative;
top: -30px;
left:-705px;
margin-right: 300px;
background-color: rgb(0, 255, 153);
cursor:pointer;
border:1px;
border-color: whitesmoke;
transition-duration: 0.4s;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.execute_blank .btn-third:hover{
background-image:linear-gradient(rgb(191, 0, 255),rgb(0, 21, 255));
transform: translateY(-5px);
}
.execute_blank .btn-third img{
    width:auto;
    height:auto;
    margin-left: -4px;
}
.execute_blank .btn-third .btn_name{
 margin-left: -20px;
 color:white;
 white-space: nowrap;
}